Author URI hardcoded to use http

As the trend over the last few years has been to use HTTPS instead of HTTP, hard-coding HTTP in the **Author URI** field would then force anyone who clicks on the Author link in the plugins page to (momentarily) use an insecure connection even if the site hosting the plugin uses HTTPS.

Taking into consideration that YOURLS still supports HTTP by default, and not everyone cares about or subscribes to the arguments that using HTTPS is beneficial versus HTTP, hard-coding HTTPS could ostensibly create the same problem in reverse.

Since there is a protocol-agnostic workaround to needing to specify either HTTP or HTTPS, in particular starting the URI with only // instead of either HTTP: or HTTPS: we can allow the originating site to decide the appropriate protocol and leverage the browser the admin is currently using to prepend the current protocol in the link.

More information about the use of // can be read in  [RFC 3986 Section 4.2](https://tools.ietf.org/html/rfc3986#section-4.2)

It should be noted that popnt.com currently redirects all HTTP traffic to HTTPS but there is no guarantee this will stay that way. Using an agnostic solution like // would then future-proof the plugin and permit popnt.com to accept http-only traffic originating from the sites hosting the plugins if need be without having to update this plugin again.

The only thing this would change is in the YOURLS plugin list where the plugin source URI is used. This update has no effect on the plugin functionality relative to LinkedIn.

Opened by admin to document the reason for the update. Accepted closed by admin.